.modal {
  height: 100dvh;

  .modal-dialog {
    &.modal-xl {
      @media (min-width: $break-xl) {
        width: 100%;
        max-width: 1800px;
      }
    }

    &.modal-lg {
      @media (min-width: $break-lg) {
        width: 100%;
        max-width: 1200px;
      }
    }

    .modal-content {
      border-radius: $br-normal;
      border-color: transparent;
      box-shadow: $sh-sm;

      .modal-header {
        border-color: transparent;

        h2,
        h3,
        h4 {
          margin-bottom: 0;
        }

        .modal-title {
          color: $base;
        }

        .btn-close {
          background: url(../images/icon-close--modal-color.svg) no-repeat
            center center;
          opacity: 1;

          &:hover,
          &:active {
            opacity: 0.5;
            box-shadow: none;
          }
        }

        &.modal-header--app {
          align-items: center;
          justify-content: center;

          .modal-title {
            text-align: center;
          }

          .btn-close {
            position: absolute;
            left: $s-small;
            background: url(../images/icon-close--modal.svg) no-repeat center
              center;
          }
        }

        .panel-title {
          display: flex;
          align-items: center;
          gap: $s-small;
        }
      }

      .modal-body {
        .col-center--modal {
          @media (max-width: $break-lg) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
          }

          .fullherogallerySwiper {
            @media (max-width: $break-lg) {
              margin-bottom: auto;
              margin-top: auto;
            }
          }
        }
      }
    }
  }

  &#orderModal,
  &#searchModal {
    .modal-dialog {
      align-items: flex-end;

      .modal-content {
        @media (max-width: $break-md) {
          transform: translateY(10px);
          border-radius: $br-normal $br-normal 0 0;
        }

        .modal-header {
          border-color: transparent;
        }

        .modal-body {
          padding-top: 0;
        }
      }
    }

    &.fade {
      .modal-dialog {
        transform: translate(0, 50px);
      }
    }

    &.show {
      .modal-dialog {
        transform: none;
      }
    }
  }

  &#mapModal {
    .modal-dialog {
      .modal-content {
        border-radius: 0;

        .modal-header {
          border-color: transparent;
          box-shadow: $sh-header;
          z-index: 5;
          padding-top: 0;
          padding-bottom: 0;

          & > .row {
            width: 100%;
          }

          .col-header--map {
            padding: $s-small $s-medium;
            border-right: solid 1px $light;
            min-height: 70px;

            &.col-header-map---logo {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding-left: $s-small;
              padding-right: $s-normal;
            }

            &.col-header--map---small {
              max-width: 180px;
            }

            &.col-header--map---medium {
              max-width: 220px;
            }

            &.col-header--map---big {
              max-width: 280px;
            }
          }

          &.modal-header--app {
            text-align: left;
            justify-content: flex-start;
            padding-left: $s-big;
            padding-top: $s-normal;
            padding-bottom: $s-normal;

            .btn-close {
              top: 21px;
            }

            .btn-transparent {
              color: $secondary;
              position: absolute;
              right: 0;
              top: 12px;
            }

            .modal-title {
              text-align: left;
              small {
                font-weight: $f-weight--light;
                color: $gray-text;
                font-size: $s-label;
                padding-left: $s-small;
              }
            }
          }
        }

        .modal-body {
          padding: 0;
        }
      }
    }
  }

  &#galleryfullModal {
    .modal-dialog {
      @media (max-width: $break-xl) {
        margin: 0;
        width: 100%;
        max-width: inherit;
      }

      .modal-content {
        background: transparent;
        box-shadow: none;

        @media (max-width: $break-xl) {
          height: 100dvh;
        }

        .panel {
          height: 100%;
          display: flex;
          flex-direction: column;

          .panel-body {
            margin-bottom: auto;
          }

          .panel-bottom {
            border-top: $light solid 1px;
            padding-top: $s-small;
            margin-top: $s-normal;
          }

          .btn {
            width: 100%;
          }

          .panel-footer {
            font-size: $s-input;
            padding-top: $s-normal;

            p {
              font-size: $s-link;
              line-height: $lh-description;
              margin-bottom: $s-small;

              strong {
                display: block;
                font-size: $s-input;
              }
            }

            .info-price {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              gap: $s-min;
              margin-bottom: $s-small;
            }
          }
        }

        .modal-header {
          color: white;
          padding-bottom: 0;

          @media (max-width: $break-xl) {
            align-items: flex-start;
          }

          .btn-close {
            background: url(../images/icon-close--modal-white.svg) no-repeat
              center center;

            @media (max-width: $break-xl) {
              margin-top: 0;
            }
          }

          .list-date-small {
            flex: 0 0 100%;
          }

          .panel-title {
            margin-bottom: $s-small;
            align-items: flex-start;

            h2 {
              @media (max-width: $break-lg) {
                max-width: 70%;
              }
            }
          }

          h1,
          h2,
          h3,
          h4,
          h5 {
            color: white;
            font-size: $s-title--item;

            @media (max-width: $break-lg) {
              font-size: $s-lead;
            }
          }
        }

        .modal-body {
          & > .row {
            @media (max-width: $break-xl) {
              height: 100%;
            }

            & > div {
              @media (max-width: $break-xl) {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  &#itemModal {
    .modal-dialog {
      @media (max-width: $break-md) {
        height: 100%;
        max-width: inherit;
        padding: 0;
        margin: 0;
      }
    }

    .modal-content {
      @media (max-width: $break-md) {
        height: 100%;
        border-radius: 0;
      }
    }

    .modal-body {
      padding-top: 0;
      padding-bottom: 0;

      .row {
        @media (max-width: $break-md) {
          height: 100%;
        }
      }

      .modal-scroll {
        display: flex;
        flex-direction: column;
        height: 80vh;
        overflow-y: auto;
        padding-right: $s-normal;

        &::-webkit-scrollbar {
          -webkit-appearance: none;

          &:vertical {
            width: $s-small;
            background: $super-light;
            border-radius: $br-big;
          }

          &:horizontal {
            display: none;
          }
        }

        &::-webkit-scrollbar-button {
          display: none;
          &:increment {
            display: none;
          }
        }

        &::-webkit-scrollbar-thumb {
          background-color: $light;
          border-radius: $br-big;
        }

        &::-webkit-scrollbar-track {
          border-radius: $s-small;
        }
      }

      .modal-body--content {
        padding: $s-medium 0;
        font-size: $s-input;
        line-height: $lh-base;

        p {
          font-size: $s-input;
          line-height: $lh-base;
        }

        .list-inline--info {
          gap: $s-medium;
          width: 100%;
          flex: 0 0 100%;

          li {
            width: 100%;
            flex: 0 0 100%;

            div {
              flex: 0 0 90%;

              em {
                color: $secondary;
              }
            }

            p {
              margin-bottom: 0;
            }

            strong {
              display: inline-block;
            }
          }
        }

        .list-normal--small {
          flex-direction: row;
          display: flex;
          flex-wrap: wrap;
          max-width: 500px;
          padding-top: $s-small;

          li {
            flex: 0 0 50%;
            width: 50%;
          }
        }
      }

      .modal-price {
        margin-top: $s-normal;

        @media (max-width: $break-lg) {
          margin-top: 0;
          border-top: solid 1px $light;
          padding-top: $s-normal;
          padding-bottom: $s-normal;
        }
      }
    }

    .modal-header {
      h2,
      h3,
      h4 {
        @media (max-width: $break-lg) {
          font-size: $s-lead;
        }
      }
    }
  }
}

.modal-backdrop {
  background: $dark;

  &.show {
    opacity: 0.9;
  }
}
