.flickity-button {
  width: $s-big;
  height: $s-big;
  margin-top: $s-small--n;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $super-light;
    border-radius: $br-big;
    transition: $tr-normal;
    z-index: 1;
  }

  &:hover {
    &::before {
      top: $s-small--n;
      left: $s-small--n;
      bottom: $s-small--n;
      right: $s-small--n;
    }
  }

  .flickity-button-icon {
    z-index: 2;
    fill: $secondary;
    width: 40% !important;
    height: 40% !important;
  }

  &.flickity-prev-next-button {
    .flickity-button-icon {
      left: 30% !important;
      top: 30% !important;
    }
  }
}

.flickity-page-dots {
  color: white;
  background: $secondary-light;
  position: absolute;
  font-size: $s-label;
  font-weight: $f-weight--medium;
  border-radius: $br-min;
  width: 45px;
  height: 20px;
  padding: $s-min;
  left: $s-small;
  bottom: $s-small;

  &:before {
    content: "/";
  }

  .dot,
  .dot:before,
  .dot:after {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dot {
    counter-increment: carousel-cell;
    position: absolute;
    left: 0;
    margin: 0;
    opacity: 1;
    top: 0;

    &.is-selected {
      z-index: 1;
    }

    &:before {
      content: counter(carousel-cell);
      background-color: $secondary-light;
      text-align: center;
      border-radius: $br-min;
    }

    &:last-child:after {
      content: counter(carousel-cell);
      position: absolute;
      top: 0;
      right: -25px;
      text-align: center;
    }
  }
}

.flickity-enabled {
  .gallery-cell {
    img {
      max-width: 100%;
    }
  }
}

.cardSwiper {
  position: relative;

  .flickity-viewport {
    overflow: visible;
    z-index: 1;
  }

  .gallery-cell {
    width: 217px !important;
    margin-right: $s-small;
  }

  .flickity-prev-next-button {
    width: $s-medium;
    height: $s-medium;
    bottom: $s-big--n;
    top: inherit;
    background: transparent;

    &.next {
      right: inherit;
      left: $s-big;
    }

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
      border: solid 2px $secondary;
      border-radius: $br-big;
      transition: $tr-normal;
      background: white;
    }

    &::after {
      display: block;
      content: "";
      background-image: url(../images/icon-nav--arrow.svg);
      background-size: contain;
      width: 11px;
      height: 11px;
    }

    &:hover {
      &::before {
        top: $s-min--n;
        left: $s-min--n;
        bottom: $s-min--n;
        right: $s-min--n;
      }
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    top: 0;
    bottom: 0;
    right: calc(100% + 45px);
    left: -9000px;
    z-index: 2;

    @media (max-width: $break-lg) {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: $gr--white-toright;
    top: 0;
    bottom: 0;
    left: $s-big--n;
    width: $s-big;
    z-index: 2;

    @media (max-width: $break-lg) {
      display: none;
    }
  }
}

.gallerySwiper {
  .flickity-viewport {
    overflow: visible;

    a {
      background: $dark;
      display: block;
      img {
        opacity: 0.8;
        transition: $tr-normal;
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
}

.simpleSwiper {
  .gallery-cell {
    width: 100%;

    img {
      width: 100%;
    }
  }
  @media (max-width: $break-lg) {
    margin-bottom: $s-normal;
  }
}

.herogallerySwiper {
  margin-top: $s-big-big;

  @media (max-width: $break-lg) {
    margin-top: 0;
  }

  .flickity-viewport {
    overflow: visible;
  }
}

.fullherogallerySwiper {
  overflow: hidden;
  border-radius: $br-normal;
  position: relative;
  padding-bottom: 0;

  .gallery-cell {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.thumbherogallerySwiper {
  margin-top: $s-medium;
  width: calc(100% - 135px);
  margin-left: 65px;

  .flickity-viewport {
    @media (max-width: $break-sm) {
      overflow: visible;
    }
  }

  @media (max-width: $break-sm) {
    width: 100%;
    margin-left: 0;
  }

  .flickity-prev-next-button {
    @media (max-width: $break-sm) {
      display: none;
    }

    &.previous {
      margin-left: -70px;
    }

    &.next {
      margin-right: -70px;
    }
  }

  .gallery-cell {
    overflow: hidden;
    border-radius: $br-small;
    cursor: pointer;
    background: $base;
    margin-right: $s-normal;
    position: relative;
    width: 12.8%;

    @media (max-width: $break-md) {
      width: 17.7%;
    }

    @media (max-width: $break-sm) {
      width: 22%;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: solid 4px white;
      border-radius: $br-small;
      opacity: 0;
    }

    img {
      width: 100%;
      transition: $tr-normal;
      opacity: 0.5;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }

    &.is-selected {
      &::before {
        opacity: 1;
      }
      img {
        opacity: 1;
      }
    }
  }
}

.thumbitemgallerySwiper {
  transform: rotate(90deg) translate(35px, -100%);
  transform-origin: left top;
  width: 450px;

  @media (max-width: $break-xl) {
    display: none;
  }

  .gallery-cell {
    width: 25%;

    img {
      max-width: 100%;
      transform: rotate(-90deg);
    }

    &::before {
      display: block;
      position: absolute;
      height: 100%;
      padding-right: 80%;
      content: "";
      border: solid 6px transparent;
      z-index: 2;
      transition: $tr-normal;
    }

    &.is-selected {
      &::before {
        border-color: $secondary;
      }
    }
  }

  .flickity-prev-next-button {
    margin-top: 1px;
    background: transparent;

    &::before {
      display: none;
    }

    &.next {
      margin-right: -45px;
    }

    &.previous {
      margin-left: -55px;
    }
  }
}

.sublistSwiper {
  padding-left: $s-extra;
  padding-right: $s-extra;

  .gallery-cell {
    width: 100%;
    margin-right: $s-normal;
  }

  .flickity-prev-next-button {
    &.next {
      margin-right: $s-normal--n;
    }

    &.previous {
      margin-left: $s-normal--n;
    }
  }

  &:hover {
    &::before {
      top: $s-min--n;
      left: $s-min--n;
      bottom: $s-min--n;
      right: $s-min--n;
      background: $super-light;
    }
  }
}
